select option:checked {
  background-color: #14b8a6;
  color: white;
}
  select option:hover {
    background-color: #14b8a6; 
    color: white;
  }
  .r_index{
    z-index: 9999;
  }
  .r_height{
    height: 400px;
  }
@media (max-width: 360px) {
  .r_img{
    height: 25px;
    width: 25px;
  }
  .r_smnone {
    font-size: 14px;
  }
}
 .addr-select-radio {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid #10B981;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease;
}

.addr-select-radio:checked::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  background-color: #10B981;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.addr-select-radio:hover {
  box-shadow: 0 0 0 3px rgba(34, 179, 162, 0.15);
}
.header  {
  position: sticky;
  top: 0; 
  width: 100%;
  z-index: 1000;

}

  .sticky {
      position: fixed;
      top: 0;
      width: 100%;
    }

    .sticky + .content {
      padding-top:150px;
    }

   /* UNIVERSAL DROPDOWN SCROLL FIX */
.dropdown-scroll,
nav .group:hover > div,
.mobile-accordion-content,
.user-dropdown,
.currency-dropdown {
    max-height: 320px !important;
    overflow-y: auto !important;
    scrollbar-width: thin; /* Firefox */
}

/* Chrome Scrollbar Styling */
.dropdown-scroll::-webkit-scrollbar,
nav .group:hover > div::-webkit-scrollbar,
.mobile-accordion-content::-webkit-scrollbar,
.user-dropdown::-webkit-scrollbar,
.currency-dropdown::-webkit-scrollbar {
    width: 6px;
}

.dropdown-scroll::-webkit-scrollbar-thumb,
nav .group:hover > div::-webkit-scrollbar-thumb,
.mobile-accordion-content::-webkit-scrollbar-thumb,
.user-dropdown::-webkit-scrollbar-thumb,
.currency-dropdown::-webkit-scrollbar-thumb {
    background: #2ecc71;
    border-radius: 10px;
}

.dropdown-scroll::-webkit-scrollbar-track,
nav .group:hover > div::-webkit-scrollbar-track,
.mobile-accordion-content::-webkit-scrollbar-track,
.user-dropdown::-webkit-scrollbar-track,
.currency-dropdown::-webkit-scrollbar-track {
    background: #eaeaea;
}
